@import 'mixin';
// header{
    // border: solid red 2px;
    //  width:100%;
  
    .header-nav{
    width:100%;
   z-index: 100;
    background:#282828;
    position:sticky;
    top:0;

    .header-nav_container{
    position:relative;
    width:100%;
    color:white;
    text-align:center;
     container-type: inline-size;
display: flex;
justify-content: space-between;
align-items: center;
.logo{
    width: 9cqi;
    height: 6cqi;
    margin-left: 9cqi;
}
.tel-mail{
    display: flex;
    gap: 4cqi;
    padding-left: 9cqi;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 2cqi;
line-height: 2cqi;
    .tel{
   @include  flex-center-center;
     color:white;
     text-decoration: none;
   img{
     padding-right: 10px;
     width: 3cqi;
   }
  
}
.mail{
     @include  flex-center-center;
     color:white;
     text-decoration: none;
     img{
        padding-right: 10px;
        width: 3cqi;
     }
}
}

.burger-phone{
    display: flex;
.burger{
    position: relative;
    background: #00A0E3;
    width: 9cqi;
    height: 8cqi;
   
#check-menu{
    display:none;
}
#check-menu:checked ~ .main-menu {
    max-height:500px;
    font-size:16px;
}
#check-menu:checked ~ .burger-line:nth-last-of-type(1),
#check-menu:checked ~ .burger-line:nth-last-of-type(4){
display:none;
    
}
#check-menu:checked ~ .burger-line:nth-last-of-type(2){
    transform:rotate(45deg);
}
#check-menu:checked ~ .burger-line:nth-last-of-type(3){
    transform:rotate(-45deg);
}

label{
display:block;
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
cursor:pointer;
line-height:40px;

}

.burger-line{
    position:absolute;
    top:30%;
    right:20%;
    width:70%;
    height:2px;
    background-color:#fff;
    transition:0.3s all;
}
.burger-line:nth-of-type(2){
    height: 2px;
}
.burger-line:nth-of-type(2),
.burger-line:nth-of-type(3){
    top:50%;
    width:50%;
}
.burger-line:nth-of-type(4){
    top:70%;
    width:50%;
    height: 2px;
}
 .main-menu{
    display:block;
    position:absolute;
    width:100%;
    
    bottom:0;
    left:0;
    max-height:0;
    font-size:0;
    overflow:hidden;
    transform:translateY(100%);    
    transition:0.3s all;
    
    
}
.main-menu a{
    display:block;
    width:100%;
    padding:10px;
    color:#fff;
    text-shadow: 0px 0px 1px #000,
                 1px 0px 1px #000;
    background-color:rgba(0,0,0,0.6);
    text-decoration:none;
    
}
.main-menu a:not(:first-child){
border-top:solid gray 1px;
}
.main-menu a:hover{
    background-color:orange;
}
}
.phone{
    padding: 2cqi;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 9cqi;
    height: 8cqi;
   a{
    img{
        width: 3cqi;
        
    }
   }
}
}




    }
   

}

    .header-main{
       @include  flex-center-center;
       flex-direction: column;
       height: 45cqi;
       background: rgba(0, 0, 0, 1) url(./img/headerbg.png);
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
       container-type: inline-size;
        h1{
font-family: 'Montserrat';
font-style: normal;
font-weight: 900;
font-size: 5cqi;
line-height: 6cqi;
color: white;

        }
        p{
            font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 2cqi;
line-height: 2cqi;
color: white;
padding-top: 3cqi;
padding-bottom: 9cqi;
        }
        button{
            padding: 1.5cqi 4cqi;
            background: linear-gradient(110.45deg, #0095C3 13%, #126D92 87%);
            color: white;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 2cqi;
line-height: 2cqi;
border: none;
cursor: pointer;
border-radius: 50px;
        }
    }
// }


@media (max-width:770px) {
    header{
       .header-nav{
 .header-nav_container{
        
 .tel-mail{
.tel{
  
   img{
     padding-right: 5px;
     width: 4cqi;
   }
  
}
.mail{
    
     img{
        padding-right: 5px;
        width: 4cqi;
     }
}
    }
     }
     } 
    }
     
    
   
 
}