@import 'mixin';
main{
    display:flex;
    flex:1;
    flex-wrap: wrap;
    padding-top: calc(25px + (50 - 16) * (100vw - 320px) / (1280 - 320));
    
    background: linear-gradient(90deg, #E7E7E7 50%, #BBBBBB 113.44%);
    
    h1{
        font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: calc(20px + (50 - 10) * (100vw - 320px) / (1280 - 320));
line-height: calc(30px + (50 - 16) * (100vw - 320px) / (1280 - 320));
width: 100%;
padding-left: calc(30px + (50 - 16) * (100vw - 320px) / (1280 - 320));

span{
    color: #00A0E3;
}
    }
    .cart-block{
        //  border:solid red 1px;
        //  width: 100cqi;
         display: flex;
        position: relative;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
        //  padding-left: calc(30px + (50 - 16) * (100vw - 320px) / (1280 - 320));
    // padding-right: calc(30px + (50 - 16) * (100vw - 320px) / (1280 - 320));
         .main-cart{
         @include  flex-center-center;
         flex-direction: column;
         flex: 1;
         min-width: 50%;
        //  min-width: 40cqi;
        
         align-self: center;
         padding-top: calc(25px + (50 - 16) * (100vw - 320px) / (1280 - 320));
        
         img{
            width:  calc(60px + (60 - 16) * (100vw - 320px) / (1280 - 320));
         }
         p{
            font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: calc(16px + (20 - 16) * (100vw - 320px) / (1280 - 320));
line-height: calc(26px + (20 - 16) * (100vw - 320px) / (1280 - 320));
text-align: center;
 padding-top: calc(16px + (20 - 16) * (100vw - 320px) / (1280 - 320));
 padding-bottom: calc(26px + (20 - 16) * (100vw - 320px) / (1280 - 320));
         }
    }
    }
   .map-block{
    width: 100%;
    height: calc(400px + (600 - 400) * (100vw - 320px) / (1280 - 320));
    padding-left: calc(30px + (50 - 16) * (100vw - 320px) / (1280 - 320));
    padding-right: calc(30px + (50 - 16) * (100vw - 320px) / (1280 - 320));
    padding-top: calc(30px + (50 - 16) * (100vw - 320px) / (1280 - 320));
    padding-bottom: calc(40px + (50 - 16) * (100vw - 320px) / (1280 - 320));
    background-color: #434242;
    h2{
         font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 300;
font-size: calc(20px + (25 - 16) * (100vw - 320px) / (1280 - 320));
line-height: calc(26px + (20 - 16) * (100vw - 320px) / (1280 - 320));
text-align: center;
 padding-top: 3cqi;
 color: white;
    }
   }
   .tur-block{
    position: relative;
    width: 100%;
    height: calc(300px + (900 - 350) * (100vw - 320px) / (1280 - 320));
       background: rgba(0, 0, 0, 1) url(../img/turbg.png);
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
       h1{
         font-family: 'Montserrat', sans-serif;
font-weight: 700;
font-size: calc(20px + (45 - 10) * (100vw - 320px) / (1280 - 320));
line-height: calc(30px + (50 - 16) * (100vw - 320px) / (1280 - 320));
padding-top: calc(35px + (35 - 16) * (100vw - 320px) / (1280 - 320));
padding-left: calc(30px + (50 - 16) * (100vw - 320px) / (1280 - 320));
padding-bottom: 0;
 color: white;
       }
       .crcl1{
        position: absolute;
       left: calc(30px + (50 - 16) * (100vw - 320px) / (1280 - 320));
       top: calc(90px + (90 - 10) * (100vw - 320px) / (1280 - 320));
        width: calc(40px + (60 - 16) * (100vw - 320px) / (1280 - 320));
        height: calc(200px + (250 - 60) * (100vw - 320px) / (1280 - 320));
       }
        .crcl2{
        position: absolute;
       left: calc(100px + (220 - 16) * (100vw - 320px) / (1280 - 320));
       top: calc(100px + (220 - 10) * (100vw - 320px) / (1280 - 320));
        width: calc(40px + (60 - 16) * (100vw - 320px) / (1280 - 320));
        height: calc(200px + (250 - 60) * (100vw - 320px) / (1280 - 320));
       }
       .crcl3{
        position: absolute;
    //   left: calc(400px + (220 - 16) * (100vw - 320px) / (1280 - 320));
      left:41%;
    //    top: calc(50px + (150 - 10) * (100vw - 320px) / (1280 - 320));
    top: 25%;
        // width: calc(40px + (60 - 16) * (100vw - 320px) / (1280 - 320));
        // height: calc(200px + (200 - 150) * (100vw - 320px) / (1280 - 320));
        width: 7%;
        height: 30%;
       }
        .crcl4{
        position: absolute;
       left: 64%;
        top: 60%;
        width: 15%;
        height: 25%;
       }
        .crcl5{
        position: absolute;
       left: 74%;
        top: 18%;
        width: 20%;
        height: 25%;
       }
       .crci1-p{
        position: absolute;
         display: inline;
        font-family: 'Montserrat', sans-serif;
color: white;
font-weight: 400;
font-size: calc(7px + (35 - 15) * (100vw - 320px) / (1280 - 320));
line-height: calc(16px + (30 - 16) * (100vw - 320px) / (1280 - 320));
max-width: 25%;
 padding-top: 5%;
left: 20%;
       }
        .crci2-p{
             position: absolute;
             display: inline;
        font-family: 'Montserrat', sans-serif;
color: white;
font-weight: 400;
font-size: calc(7px + (35 - 15) * (100vw - 320px) / (1280 - 320));
line-height: calc(16px + (30 - 16) * (100vw - 320px) / (1280 - 320));
max-width: 25%;
 padding-top: 45%;
 margin-left: 35%;
       }
        .crci3-p{
            position: absolute;
            display: inline;
        font-family: 'Montserrat', sans-serif;
color: white;
font-weight: 400;
font-size: calc(7px + (35 - 15) * (100vw - 320px) / (1280 - 320));
line-height: calc(16px + (30 - 16) * (100vw - 320px) / (1280 - 320));
max-width: 25%;
top: calc(86px + (280 - 16) * (100vw - 320px) / (1280 - 320));
left: calc(156px + (560 - 56) * (100vw - 320px) / (1280 - 320));
       }
        .crci4-p{
            position: absolute;
            display: inline;
        font-family: 'Montserrat', sans-serif;
color: white;
font-weight: 400;
font-size: calc(7px + (35 - 15) * (100vw - 320px) / (1280 - 320));
line-height: calc(16px + (30 - 16) * (100vw - 320px) / (1280 - 320));
max-width: 15%;
top: calc(66px + (480 - 296) * (100vw - 320px) / (1280 - 320));
left: calc(280px + (760 - 36) * (100vw - 320px) / (1280 - 320));
       }
        .crci5-p{
            position: absolute;
            display: inline;
        font-family: 'Montserrat', sans-serif;
color: white;
font-weight: 400;
font-size: calc(7px + (35 - 15) * (100vw - 320px) / (1280 - 320));
line-height: calc(16px + (30 - 16) * (100vw - 320px) / (1280 - 320));
max-width: 25%;
top: calc(186px + (480 - 86) * (100vw - 320px) / (1280 - 320));
left: calc(230px + (850 - 200) * (100vw - 320px) / (1280 - 320));
       }
   }
}

@media (max-width:770px) {
    main{
        .cart-block{
.main-cart{
     min-width: 320px;
}
}
    }

}