@import 'mixin';
main{
    display:flex;
    flex:1;
    flex-wrap: wrap;
    padding-top: calc(25px + (50 - 16) * (100vw - 320px) / (1280 - 320));
    
    background: linear-gradient(90deg, #E7E7E7 50%, #BBBBBB 113.44%);
    
    h1{
        font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: calc(20px + (50 - 10) * (100vw - 320px) / (1280 - 320));
line-height: calc(30px + (50 - 16) * (100vw - 320px) / (1280 - 320));
width: 100%;
padding-left: calc(30px + (50 - 16) * (100vw - 320px) / (1280 - 320));

span{
    color: #00A0E3;
}
    }
    .cart-block{
        //  border:solid red 1px;
        //  width: 100cqi;
         display: flex;
        position: relative;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
        //  padding-left: calc(30px + (50 - 16) * (100vw - 320px) / (1280 - 320));
    // padding-right: calc(30px + (50 - 16) * (100vw - 320px) / (1280 - 320));
         .main-cart{
         @include  flex-center-center;
         flex-direction: column;
         flex: 1;
         min-width: 50%;
        //  min-width: 40cqi;
        
         align-self: center;
         padding-top: calc(25px + (50 - 16) * (100vw - 320px) / (1280 - 320));
        
         img{
            width:  calc(60px + (60 - 16) * (100vw - 320px) / (1280 - 320));
         }
         p{
            font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: calc(16px + (20 - 16) * (100vw - 320px) / (1280 - 320));
line-height: calc(26px + (20 - 16) * (100vw - 320px) / (1280 - 320));
text-align: center;
 padding-top: calc(16px + (20 - 16) * (100vw - 320px) / (1280 - 320));
 padding-bottom: calc(26px + (20 - 16) * (100vw - 320px) / (1280 - 320));
         }
    }
    }
   .map-block{
    width: 100%;
    height: calc(400px + (600 - 400) * (100vw - 320px) / (1280 - 320));
    padding-left: calc(30px + (50 - 16) * (100vw - 320px) / (1280 - 320));
    padding-right: calc(30px + (50 - 16) * (100vw - 320px) / (1280 - 320));
    padding-top: calc(30px + (50 - 16) * (100vw - 320px) / (1280 - 320));
    padding-bottom: calc(40px + (50 - 16) * (100vw - 320px) / (1280 - 320));
    background-color: #434242;
    h2{
         font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 300;
font-size: calc(20px + (25 - 16) * (100vw - 320px) / (1280 - 320));
line-height: calc(26px + (20 - 16) * (100vw - 320px) / (1280 - 320));
text-align: center;
 padding-top: 3cqi;
 color: white;
    }
   }
   .tur-block{
    position: relative;
    width: 100%;
    height: calc(300px + (900 - 350) * (100vw - 320px) / (1280 - 320));
       background: rgba(0, 0, 0, 1) url(../img/turbg.png);
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
       h1{
         font-family: 'Montserrat', sans-serif;
font-weight: 700;
font-size: calc(20px + (45 - 10) * (100vw - 320px) / (1280 - 320));
line-height: calc(30px + (50 - 16) * (100vw - 320px) / (1280 - 320));
padding-top: calc(35px + (35 - 16) * (100vw - 320px) / (1280 - 320));
padding-left: calc(30px + (50 - 16) * (100vw - 320px) / (1280 - 320));
padding-bottom: 0;
 color: white;
       }
       .crcl1{
        position: absolute;
       left: calc(30px + (50 - 16) * (100vw - 320px) / (1280 - 320));
       top: calc(90px + (90 - 10) * (100vw - 320px) / (1280 - 320));
        width: calc(40px + (60 - 16) * (100vw - 320px) / (1280 - 320));
        height: calc(200px + (250 - 60) * (100vw - 320px) / (1280 - 320));
       }
        .crcl2{
        position: absolute;
       left: calc(100px + (220 - 16) * (100vw - 320px) / (1280 - 320));
       top: calc(100px + (220 - 10) * (100vw - 320px) / (1280 - 320));
        width: calc(40px + (60 - 16) * (100vw - 320px) / (1280 - 320));
        height: calc(200px + (250 - 60) * (100vw - 320px) / (1280 - 320));
       }
       .crcl3{
        position: absolute;
       left: 41cqi;
        top: 19cqi;
        width: 7cqi;
        height: 20cqi;
       }
        .crcl4{
        position: absolute;
       left: 61cqi;
        top: 40cqi;
        width: 17cqi;
        height: 20cqi;
       }
        .crcl5{
        position: absolute;
       left: 70cqi;
        top: 10cqi;
        width: 22cqi;
        height: 20cqi;
       }
       .crci1-p{
        position: absolute;
         display: inline;
        font-family: 'Montserrat', sans-serif;
color: white;
font-weight: 400;
font-size: 2cqi;
line-height: 3cqi;
max-width: 25cqi;
 padding-top: 3cqi;
 margin-left: 17cqi;
       }
        .crci2-p{
             position: absolute;
             display: inline;
        font-family: 'Montserrat', sans-serif;
color: white;
font-weight: 400;
font-size: 2cqi;
line-height: 3cqi;
max-width: 28cqi;
 margin-top: 40cqi;
 margin-left: 35cqi;
       }
        .crci3-p{
            position: absolute;
            display: inline;
        font-family: 'Montserrat', sans-serif;
color: white;
font-weight: 400;
font-size: 2cqi;
line-height: 3cqi;
max-width: 25cqi;
 margin-top: 18cqi;
 margin-left: 50cqi;
       }
        .crci4-p{
            position: absolute;
            display: inline;
        font-family: 'Montserrat', sans-serif;
color: white;
font-weight: 400;
font-size: 2cqi;
line-height: 3cqi;
max-width: 10cqi;
 margin-top: 5cqi;
 margin-left: 80cqi;
       }
        .crci5-p{
            position: absolute;
            display: inline;
        font-family: 'Montserrat', sans-serif;
color: white;
font-weight: 400;
font-size: 2cqi;
line-height: 3cqi;
max-width: 20cqi;
 margin-top: 35cqi;
 margin-left: 70cqi;
       }
   }
}

@media (max-width:770px) {
    main{
        .cart-block{
.main-cart{
     min-width: 320px;
}
}
    }

}